@keyframes FadeIn{
    from{
        opacity: 0.5;
    }to{
        opacity: 1;
        
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }to{
        transform: scale(var(--growth-to));
    }
}
@keyframes Header_notify-grow{
    from{
        opacity: 0;
        transform: scale(0);
        
    }to{
        opacity: 1;
        transform: scale(1);
    }
}