:root{
    --primary-color: rgba(246, 65, 45, 0.1);
    --secondary-color: rgba(181, 241, 244,0.5);
    --third-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
/* Animation */
@keyframes FadeIn{
    from{
        opacity: 0.5;
    }to{
        opacity: 1;
        
    }
}
/* Modal */
.modal{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.modal__body{
    margin: auto;
    width: 400px;
    height: 500px;
    background-color: var(--white-color);
    z-index: 1;
    border-radius: 2px;
}
.modal__inner{
    position: relative;
    height: 100%;
}
.modal::before{
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.auth__form{
    margin: 0 24px;
}
.auth__form-header{
    display: flex;
    justify-content: space-between;
}
.auth__form-header h3,p{
    display: inline-block;
    align-self: center;
}
.auth__form-header h3{
    padding-left: 8px;
    font-size: 2rem;
    font-weight: 500;
}
.auth__form-header p{
    padding-right: 8px;
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--third-color);
}
.auth__form-form{
    margin-top: 24px;
    margin-bottom: 12px;
}
.auth__form-group{
    margin: 16px 0;
}
.auth__form-input{
    padding: 8px;
    width: 100%;
}
.auth__form-policy{
    font-size: 1.1rem;
    padding: 0 8px ;
    text-align: center;
}
.auth__form-policy a{
    color: var(--third-color);
}
.auth__form-socials{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: var(--secondary-color);
}
.auth__form-socials .btn{

}