:root{
    --primary-color: rgba(246, 65, 45, 0.1);
    --secondary-color: rgba(181, 241, 244,0.5);
    --third-color: #ee4d2d;
    --four-color: #2D88FF;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --navbar-height: 43px;
    --header-height: 120px;
    --header-search-height: calc(var(--header-height) - var(--navbar-height));
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.blank::after{
    content:"";
    display: block;
    height: 16px;
    border-left: 1px solid #F96D5C;
    position: absolute;
    top: 7px;
    right: 0;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0;
}
/* Button Style */
.btn{
    min-width: 142px;
    height: 36px;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    background-color: var(--white-color);
    font-weight: 500;
    cursor: pointer;
}
.btn-primary{
    color: var(--white-color);
    background-color: var(--third-color);
}
/* Pagination */
.pagination{
    display: flex;
    justify-content: center;
    margin: 40px 0 30px 0;
}
.pagination-list{
    display: flex;
}
.pagination-item{
    margin: 0 12px;
    border-radius: 2px;
}
.page-number-item--active .pagination-link{
    background-color: var(--third-color);
    color: var(--white-color);
    border-radius: 2px;
}
.pagination-link{
    --height: 30px;
    display: block;
    min-width: 40px;
    height: var(--height);
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    line-height: var(--height);
}
.page-number-item--active:hover .pagination-link{
    background-color: #F05D40;
}
/* Icon */
.facebook-icon{
    color: #149FF9;
}