#header{
    height: 120px;
    background-image: linear-gradient(0, #F53D2D, #F7452E);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    padding-left: 0;
    list-style: none;
    margin-top: 0;
}
.header__navbar-item > a,
.header__navbar-item{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    padding: 8px 7px;
    position: relative;
}
.header__navbar-item > a{
    padding:0 3px;
}
.header__navbar-item--bold{
    font-weight: 400;
}
.header__navbar-icon{
    font-size: 1.6rem;
}
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    text-align: center;
    top: 100%;
    left: 7px;
    display: none;
    border-radius: 3px;
    animation: FadeIn ease-in 0.5s;
}
.header__qr-img{
    display: inline-block;
    width: 90%;
}
.header__qr-app{
    display: flex;
    justify-content: space-between;
}
.header__qr-app-link:first-child{
    margin-left: 11px;
}
.header__qr-app-link:last-child{
    margin-right: 11px;
}
.header__qr-app-link > img{
    height: 18px;
}
.header__notify{
    position: absolute;
    display: none;
    top: calc(100% + 6px);
    right: 7px;
    width: 400px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    transform-origin: 90% top;
    animation: Header_notify-grow ease-in 0.2s;
    will-change: transform,opacity;
}
.header__notify::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    right: 6px;
    top: -30px;
}
.header__notify::after{
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 20px;
    top: -10px;
    right: 0;
}
.header__notify-header{
    line-height: 40px;
    font-size: 1.4rem;
}
.header__notify-header h3{
    color: var(--black-color);
    padding: 0 12px;
    margin: 0;
}
.header__notify-list{
    padding: 0;
}
.header__notify-list-item{
    list-style: none;
    min-height: 60px;
}
.header__notify-link{
    display: flex;
    align-items: flex-start;
    padding-left: 16px;
    text-decoration: none;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-body{
    flex-basis: 1;
    display: inline-block;
    padding-left: 12px;
}
.header__notify-body p{
    color: var(--text-color);
}
.header__notify-name{
    margin: 0 0 7px 0;
    font-size: 1.4rem;
    font-weight: bold;
}
.header__notify-description{
    margin: 0 0 7px 0;
    font-size: 1.3rem;
    opacity: 0.7;
}
.header__notify-footer{
    padding: 8px 0;
    font-weight: 400;
}
.header__notify-footer > a{
    display: block;
    line-height: 24px;
    text-align: center;
}
.header__notify-read{
    background-color: var(--primary-color);
}
.header__navbar-item-blank::after{
    content:"";
    display: block;
    height: 16px;
    border-left: 1px solid #F96D5C;
    position: absolute;
    top: 7px;
    right: 0;
}
.header__navbar-item--show:hover .header__qr{
    display: block;
}
.header__navbar-item > a:hover{
    opacity: 0.6;
    cursor: pointer;
}
.header__notify-list-item:hover{
    background-color: var(--secondary-color);
}
.header__navbar-item:hover .header__notify{
    display: block;
}
@keyframes Header_notify-grow{
    from{
        opacity: 0;
        transform: scale(0);
        
    }to{
        opacity: 1;
        transform: scale(1);
    }
}
.auth__form{
    height: 100%;
}
.auth__form-container{
    position: relative;
    height: 100%;
    margin: 0 24px;
}
.auth__form-header{
    display: flex;
    justify-content: space-between;
}
.auth__form-header h3,p{
    display: inline-block;
    align-self: center;
}
.auth__form-header h3{
    font-size: 2rem;
    font-weight: 500;
}
.auth__form-header p{
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--third-color);
    cursor: pointer;
}
.auth__form-form{
    margin-top: 24px;
    margin-bottom: 12px;
}
.auth__form-group{
    margin: 16px 0;
}
.auth__form-input{
    padding: 12px 8px;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    font-size: 1.2rem;
}
.auth__form-policy{
    font-size: 1.1rem;
    padding: 0 8px ;
    text-align: center;
}
.auth__form-policy a{
    color: var(--third-color);
}
.auth__form-control{
    position: absolute;
    right: 0;
    bottom: 70px;
}
.auth__form-control .btn{
    text-transform: uppercase;
}
.auth__form-socials{
    display: flex;
    position: absolute;
    width: 100%;
    line-height: 32px;
    padding: 0 24px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}
.auth__form-social-btn{
    display: inline-flex;
    flex: 1;
}
.auth__form-social-btn .btn{
    margin: 8px 0;
    border-radius: 2px;
    flex: 1;
}
.auth__form-social-btn .fa-btn{
    background-color: var(--four-color);
    color: var(--white-color);
    margin-right: 4px;
}
.auth__form-social-btn .google-btn{
    margin-left: 4px;
}
.auth__form-social-btn i{
    padding: 4px;
    font-size: 1.8rem;
}
.auth__form-social-btn span{
    padding: 0 4px;
    font-size: 1.3rem;
}
.btn-return:hover{
    background-color: rgba(0, 0, 0, 0.05);
}