#header{
    height: var(--header-height);
    background-image: linear-gradient(0, #F53D2D, #F7452E);
}
.header__navbar{
    display: flex;
    height: var(--navbar-height);
    justify-content: space-between;
}
.header__navbar-list{
    display: flex;
    margin-top: 0;
}
.header__navbar-item > a,
.header__navbar-item{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    padding: 8px 7px;
    position: relative;
}
.header__navbar-item > a{
    padding:0 3px;
}
.header__navbar-item--bold{
    font-weight: 400;
}
.header__navbar-icon{
    font-size: 1.6rem;
}
.header__qr{
    width: 186px;
    background-color: #f7f0f0;
    position: absolute;
    text-align: center;
    top: 100%;
    left: 7px;
    display: none;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,26%);
    animation: FadeIn ease-in 0.5s;
    z-index: 10;
}
.header__qr-img{
    display: inline-block;
    width: 90%;
}
.header__qr-app{
    display: flex;
    justify-content: space-between;
}
.header__qr-app-link:first-child{
    margin-left: 11px;
}
.header__qr-app-link:last-child{
    margin-right: 11px;
}
.header__qr-app-link > img{
    height: 18px;
}
.header__notify{
    position: absolute;
    display: none;
    top: calc(100% + 6px);
    right: 7px;
    width: 400px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    transform-origin: 90% top;
    animation: Header_notify-grow ease-in 0.2s;
    will-change: transform,opacity;
    z-index: 10;
}
.header__notify::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    right: 6px;
    top: -30px;
}
.header__notify::after{
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 20px;
    top: -10px;
    right: 0;
}
.header__notify-header{
    line-height: 40px;
    font-size: 1.4rem;
}
.header__notify-header h3{
    color: var(--black-color);
    padding: 0 12px;
    margin: 0;
}
.header__notify-list-item{
    min-height: 60px;
}
.header__notify-link{
    display: flex;
    align-items: flex-start;
    padding-left: 16px;
    text-decoration: none;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-body{
    flex-basis: 1;
    display: inline-block;
    padding-left: 12px;
}
.header__notify-body p{
    color: var(--text-color);
}
.header__notify-name{
    margin: 0 0 7px 0;
    font-size: 1.4rem;
    font-weight: bold;
}
.header__notify-description{
    margin: 0 0 7px 0;
    font-size: 1.3rem;
    opacity: 0.7;
}
.header__notify-footer{
    padding: 8px 0;
    font-weight: 400;
}
.header__notify-footer > a{
    display: block;
    line-height: 24px;
    text-align: center;
}
.header__notify-read{
    background-color: var(--primary-color);
}
.header__navbar-item--show:hover .header__qr{
    display: block;
}
.header__navbar-item > a:hover{
    opacity: 0.6;
    cursor: pointer;
}
.header__notify-list-item:hover{
    background-color: var(--secondary-color);
}
.header__navbar-item:hover .header__notify{
    display: block;
}
@keyframes Header_notify-grow{
    from{
        opacity: 0;
        transform: scale(0);
        
    }to{
        opacity: 1;
        transform: scale(1);
    }
}
.auth__form{
    height: 100%;
}
.auth__form-container{
    position: relative;
    height: 100%;
    margin: 0 24px;
}
.auth__form-header{
    display: flex;
    justify-content: space-between;
}
.auth__form-header h3,p{
    display: inline-block;
    align-self: center;
}
.auth__form-header h3{
    font-size: 2rem;
    font-weight: 500;
}
.auth__form-header p{
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--third-color);
    cursor: pointer;
}
.auth__form-form{
    margin-top: 24px;
    margin-bottom: 12px;
}
.auth__form-group{
    margin: 16px 0;
}
.auth__form-input{
    padding: 12px 8px;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    font-size: 1.2rem;
}
.auth__form-policy{
    font-size: 1.1rem;
    padding: 0 8px ;
    text-align: center;
}
.auth__form-policy a{
    color: var(--third-color);
}
.auth__form-control{
    position: absolute;
    right: 0;
    bottom: 70px;
}
.auth__form-control .btn{
    text-transform: uppercase;
}
.auth__form-socials{
    display: flex;
    position: absolute;
    width: 100%;
    line-height: 32px;
    padding: 0 24px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}
.auth__form-social-btn{
    display: inline-flex;
    flex: 1;
}
.auth__form-social-btn .btn{
    margin: 8px 0;
    border-radius: 2px;
    flex: 1;
}
.auth__form-social-btn .fa-btn{
    background-color: var(--four-color);
    color: var(--white-color);
    margin-right: 4px;
}
.auth__form-social-btn .google-btn{
    margin-left: 4px;
}
.auth__form-social-btn i{
    padding: 4px;
    font-size: 1.8rem;
}
.auth__form-social-btn span{
    padding: 0 4px;
    font-size: 1.3rem;
}
.btn-return:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.auth__form-aside.login-form{
    display: flex;
    justify-content: flex-end;
}
.auth__form-help{
    font-size: 1.2rem;
}
.auth__form-help:first-child{
    color: var(--third-color);
}
.login-form span{
    display: block;
    border-left: 1px solid var(--black-color);
    margin: 0 8px;
}
.header__search-container{
    height: var(--header-search-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.header__logo-container{
    width: 200px;
}
.header__logo{
    width: 150px;
}
.header__search-bar-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}
.header__search-bar{
    display: flex;
    height:40px;
    border-radius: 2px;
    border-style: hidden;
    background-color: var(--white-color);
}
.search-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 3px 3px 0;
    width: 60px;
    border-radius: 2px;
    border-style: hidden;
    background-color: var(--third-color);
}
.search-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
.header__search-bar-input{
    flex: 1;
    font-size: 1.4rem;
    padding: 12px;
    outline: none;
    border-radius: 2px;
    border-style: hidden;
}
.header__recomment-list{
    margin: 4px 0 0 0;
    display: flex;
}
.header__recomment-list-item{
    margin-right: 8px;
    font-size: 1.2rem;
}
.header__recomment-list-item a{
    color: var(--white-color);
}
.header__search-history{
    width: calc(100% - 70px);
    background-color: var(--white-color);
    position: absolute;
    top: calc(100% - 16px);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0 , 26%);
    border-radius: 2px;
    display: none;
}
.header__search-history-list{
    margin: 0;
}
.header__search-history-item{
    display: flex;
    align-items: center;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0 , 26%);
}
.header__search-history-item a{
    flex: 1;
    line-height: 18px;
    font-size: 1.4rem;
    padding: 12px;
}
.header__cart{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
}
.cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    padding: 8px;
}
.header__cart-container{
    width: 400px;
    background-color: var(--white-color);
    position: absolute;
    top: calc(100% + 10px);
    right: -4px;
    min-height: 250px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0 , 26%);
    display: none;
    border-radius: 2px;
    --growth-from: 0;
    --growth-to: 1;
    transform-origin: 95% top;
    animation: growth 0.2s ease-in;
}
.header__cart-container:before{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 20px 20px;
    border-color: transparent transparent var(--white-color) transparent;
    right: 3px;
    top: -30px;
}
.header__cart-container:after{
    content: "";
    position: absolute;
    height: 20px;
    width: 150px;
    top: -16px;
    right: 0;
}
.header__cart-container--empty{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}
.empty-cart-img{
    width: 50%;
    align-self: center;
    cursor: default;
}
.header__cart-number{
    background-color: var(--white-color);
    color: var(--third-color);
    border: 1px solid var(--third-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3rem;
    width: 20px;
    text-align: center;
}
.header__cart-container--hasProduce{
    width: 100%;
    padding-left: 12px;
}
.header__cart-heading{
    font-size: 1.4rem;
    font-weight: 300;
    color: #929292;
}
.header__cart-item{
    padding: 0 8px 8px 0;
}
.header__cart-item-link{
    display: flex;
}
.header__cart-item-img{
    width: 40px;
}
.header__cart-item-decription,
.header__cart-item-price{
    font-size: 1.3rem;
    font-weight: 500;
}
.header__cart-item-decription{
    padding: 0 8px;
    flex: 1;
}
.header__cart-item-price{
    color: var(--third-color);
}
.cart-btn{
    display: flex;
    justify-content: right;
    padding: 0 8px 8px 0;
}
.search-icon-container:hover{
    background-color: #e66f57;
    cursor: pointer;
}
.header__search-bar-input:focus ~ .header__search-history{
    display: block;
}
.header__cart-wrap:hover .header__cart-container{
    display: flex;
}
.cart-btn button:hover{
    background-color: #e66f57;
}
.header__navbar-user{
    display: inline-flex;
    align-items: center;
    position: relative;
}
.header__navbar-avatar{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.header__navbar-username{
    padding-left: 4px;
}
.user-options{
    background-color: var(--white-color);
    width: 150px;
    height: 110px;
    position: absolute;
    top: calc(100% + 4px);
    right: 7px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0 , 26%);
    z-index: 2;
    display: none;
    border-radius: 2px;
    --growth-from: 0;
    --growth-to: 1;
    transform-origin: 60% top;
    animation: growth ease-in 0.3s;
}
.user-option-list{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.user-option-list-item{
    flex: 1;
    display: flex;
    align-items: center;
}
.user-option-list-item a{
    display: block;
    padding: 10px 8px;
    width: 100%;
    font-weight: 500;
}
.user-options:before{
    content: "";
    border-width: 20px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 40px;
}
.header__navbar-user::after{
    content: "";
    width: 150px;
    height: 20px;
    position: absolute;
    bottom: -10px;
    right: 7px;
}
.user-option-list-item:hover a{
    color: #26AA99;
}
.header__navbar-user:hover .user-options{
    display: block;
}